<div class="w-3/4 mx-auto">
  <h2 class="text-main">Login Now:</h2>
  <h3 class="flex justify-center text-red-700 font-bold">
    {{errorMSG}}
  </h3>
  <form [formGroup]="registerForm" class="mt-6 bg-main-light shadow p-9 rounded-2xl" (ngSubmit)="onSubmit()" >

    <!-- ?----------------------------------------------------------- -->

    <div class="my-3">
      <label for="email">Email:</label>
      <div class="flex py-2">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" id="email"
          [class.border-red-500]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          formControlName="email">
      </div>
    </div>
    @if(registerForm.get("email")?.invalid && registerForm.get("email")?.touched){
    <div id="alert-2"
      class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Info</span>
      <div class="ms-3 text-sm font-medium">
        @if(registerForm.get('email')?.getError('required')){
        <p>
          Email is required
        </p>
        }
        @else if (registerForm.get('email')?.getError('email')) {
        <p>
          Email is invalid
        </p>
        }
      </div>
    </div>
    }

    <!-- ?----------------------------------------------------------- -->

    <div class="my-3">
      <label for="pass">Password:</label>
      <div class="flex py-2 relative">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input [type]="showPassword ? 'text' : 'password'" id="pass"
          [class.border-red-500]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          formControlName="password">
        <i [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
          class="absolute right-3 top-5 cursor-pointer fa-solid " (click)="passEye()"></i>
      </div>
    </div>
    @if(registerForm.get("password")?.invalid && registerForm.get("password")?.touched){
    <div class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Info</span>
      <div class="ms-3 text-sm font-medium">
        @if(registerForm.get('password')?.getError('required')){
        <p>
          Password is required
        </p>
        }
        @else if(registerForm.get('password')?.getError('pattern')){
        <p>
          Password must start with an uppercase letter and be 7 characters long, with only lowercase letters and
          numbers.
        </p>
        }
      </div>
    </div>
    }

    <div class="flex justify-end items-center gap-3">
      <a routerLink="/forgetPassword" class="text-main font-bold cursor-pointer">Forget Password</a>
    <button [disabled]="registerForm.invalid" class="btn-main">Login
      @if(isLogin){
      <i class="fa-solid fa-spin fa-spinner"></i>
      }
    </button>
    </div>

  </form>
</div>
