<section class="w-3/4 mx-auto pt-16">
  @if(isEmpty){
  <h2 class="text-center py-10 font-bold">No Items in Wishlist</h2>
  <div class="text-center">
    <img src="./assets/empty.jpg" class="w-80 m-auto" alt="">
  </div>
  }@else {
  <div>
    <h2 class="text-main py-1 font-bold">Wishlist</h2>

  </div>
  @for(product of wishlistData ; track $index){
    <div class=" md:flex justify-between items-center p-5 max-sm:my-2 bg-zinc-100 rounded-lg">
      <div class="flex flex-wrap items-center xl:w-3/4 cursor-pointer" [routerLink]="['/productDetails', product._id]">
        <div class="xl:w-3/12 md:w-4/12 p-4">
          <img [src]="product?.imageCover" [alt]="product?.title">
        </div>
        <div class=" xl:w-9/12 md:w-6/12 px-3">
          <h4>{{product.title.split(' ', 3).join(' ')}}</h4>
          <span class="text-main">Price: {{product?.price | currency: 'EGP '}}</span>
          <div class="removeWish-btn main-color" (click)="removeWish(product._id)">
            <span class="text-red-500 cursor-pointer">
              <i class="fa-solid fa-trash"></i>
              Remove Item
            </span>
          </div>
        </div>
      </div>
      <div class="xl:w-1/4 wishlist-item-button">
        <button class="btn btn-main max-sm:my-2" (click)="AddProduct(product.id)">Add To Cart</button>
      </div>
    </div>

  }

  }

</section>
