<section>
@if(step == 1){
    <form [formGroup]="emailForgetPass" (ngSubmit)="sendEmail()" class="w-3/4 mx-auto bg-main-light shadow p-9 rounded-2xl">
      <div class="my-3">
        <label for="email">Email:</label>
        <div class="flex py-2">
          <span
            class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <i class="fa-solid fa-envelope"></i>
          </span>

          <input type="email" id="email" formControlName="email"
            [class.border-red-500]="emailForgetPass.get('email')?.invalid && emailForgetPass.get('email')?.touched"
            class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>
      </div>
      <button [disabled]="emailForgetPass.invalid" class="btn-main my-2">Submit
              @if(isLogin){
              <i class="fa-solid fa-spin fa-spinner"></i>
              }
      </button>
    </form>
}@else if(step == 2){
<form [formGroup]="codeForgetPass" (ngSubmit)="sendCode()" class="w-3/4 mx-auto bg-main-light shadow p-9 rounded-2xl">
  <div class="my-3">
    <label for="code">Code:</label>
    <div class="flex py-2">
      <span
        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
        <i class="fa-solid fa-envelope"></i>
      </span>

      <input type="text" id="code" formControlName="resetCode"
        [class.border-red-500]="codeForgetPass.get('resetCode')?.invalid && codeForgetPass.get('resetCode')?.touched"
        class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    </div>
  </div>
  <button  [disabled]="emailForgetPass.invalid" class="btn-main my-2">Submit
              @if(isLogin){
              <i class="fa-solid fa-spin fa-spinner"></i>
              }
  </button>
</form>
}@else if(step == 3){
  <form [formGroup]="resetForgetPass" (ngSubmit)="resetData()" class="w-3/4 mx-auto bg-main-light shadow p-9 rounded-2xl">
    <div class="my-3">
      <label for="email">Email:</label>
      <div class="flex py-2">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <i class="fa-solid fa-envelope"></i>
        </span>

        <input type="email" id="email" formControlName="email"
          [class.border-red-500]="resetForgetPass.get('email')?.invalid && resetForgetPass.get('email')?.touched"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
      </div>
    </div>
    <div class="my-3">
      <label for="password">Password:</label>
      <div class="flex py-2">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <i class="fa-solid fa-envelope"></i>
        </span>

        <input type="password" id="password" formControlName="newPassword"
          [class.border-red-500]="resetForgetPass.get('newPassword')?.invalid && resetForgetPass.get('newPassword')?.touched"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
      </div>
    </div>
    <button  [disabled]="emailForgetPass.invalid"  class="btn-main my-2">Submit
                    @if(isLogin){
                    <i class="fa-solid fa-spin fa-spinner"></i>
                    }
    </button>

  </form>
}
</section>
